<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About-Us</title>
    <link rel="stylesheet" href="css/aboutsus-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7253bb480.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="parent-div">
      <div class="first-div">
        <div class="top-inside">
          <h1 class="first-heading">ATMOS</h1>
          <p class="first-para">The Great Aim of Education is not Knowledge but action.</p>
          <p class="second-para">Education not only broadens the mind but adds the most important component for critical thought</p>
        </div>
      </div>



      <div class="second-div">

        <div class="second-div-head">
          <h1 class="second-heading">OUR CREATIVE MIND</h1>
        </div>

        <div class="upper-creators">
          <div class="first-creator">
            <img class="first-img" src="./images/akash.jpg">
            <div class="follow">
              <i class="fa-brands fa-instagram-square fa-2x" class="foll"></i>
              <i class="fa-brands fa-facebook fa-2x" class="foll"></i>
              <i class="fa-brands fa-github-square fa-2x" class="foll"></i>
            </div>
          </div>
          <div class="second-creator">
            <img class="second-img" src="./images/avinash.jpg">
            <div class="follow">
              <i class="fa-brands fa-instagram-square fa-2x" class="foll"></i>
              <i class="fa-brands fa-facebook fa-2x" class="foll"></i>
              <i class="fa-brands fa-github-square fa-2x" class="foll"></i>
            </div>
          </div>
          <div class="third-creator">
            <img class="third-img" src="./images/dushyant.jpg">
            <div class="follow">
              <i class="fa-brands fa-instagram-square fa-2x" class="foll"></i>
              <i class="fa-brands fa-facebook fa-2x" class="foll"></i>
              <i class="fa-brands fa-github-square fa-2x" class="foll"></i>
            </div>
          </div>
        </div>

        <div class="lower-creators">
          <div class="fourth-creator">
            <img class="fourth-img" src="./images/naman.jpg">
            <div class="follow">
              <i class="fa-brands fa-instagram-square fa-2x" class="foll"></i>
              <i class="fa-brands fa-facebook fa-2x" class="foll"></i>
              <i class="fa-brands fa-github-square fa-2x" class="foll"></i>
            </div>
          </div>
          <div class="fifth-creator">
            <img class="fifth-img" src="./images/shreyas.jpeg">
            <div class="follow">
              <i class="fa-brands fa-instagram-square fa-2x" class="foll"></i>
              <i class="fa-brands fa-facebook fa-2x" class="foll"></i>
              <i class="fa-brands fa-github-square fa-2x" class="foll"></i>
            </div>
          </div>
        </div>

      </div>



      <div class="about">
      <h2 class="heros">ATMOS<h2>
        <p class="description">Management involves identifying the mission, objective, procedures, rules and manipulation
          of the human capital of an enterprise to contribute to the success of the enterprise.
          Scholars have focused on the management of individual, organizational, and
          inter-organizational relationships. This implies effective communication: an enterprise
          environment (as opposed to a physical or mechanical mechanism) implies human motivation and
          implies some sort of successful progress or system outcome.[citation needed] As such,
          management is not the manipulation of a mechanism (machine or automated program), not the
          herding of animals, and can occur either in a legal or in an illegal enterprise or environment.</p>
    </div>





    </div>
  </body>
</html>
