<div id = "add-project-btn" class = "project-outer-btn" onclick = "createNewProjectDiv()">
    <div class = "project-div">
        <div id = "add-project-div" class = "outer-div">
            <div class = "project-icon-div">
                <img class = "plus-icon-project project-icon" src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-plus-science-education-dreamstale-lineal-dreamstale.png"/>
            </div>
        </div>
        <div class = "project-name-div">
            <h4>ADD PROJECT</h4>
        </div> 
    </div>
</div>
