<div class = "nav-bar-div">
    <div class = "heading">
        <h1>ATMOS</h1>
    </div>
    <div class = "nav-bar">
        <div class = "nav-bar-elements">
            <ul class = "nav-bar-elements-list">
                <li><a href = "home">Home</a></li>
                <li><a href = "projects">Projects</a></li>
                <li><a href = "messages">Messages</a></li>
                <li><a href = "notes">Notes</a></li>
            </ul>
        </div>
        <hr>
        <div class = "profile">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/test-account.png"/>
        </div>
    </div>
</div>