<div class="window-task-outer-div">
    <div class="window-task-inner-div">
        <div class="window-task-name">
            <h4><%=taskList[taskNumber].taskName%></h4>
            <p>Due Soon</p>
        </div>                                     
    </div>
    <div class = "dropdown">
        <h2 class="dropdown-dots"><sup>...</sup></h2>
        <div class="dropdown-content task-dropdown-content">
            <object>
                <a class="dropdown-option" href="#">Delete</a>
                <a class="dropdown-option" href="#">Mark as Complete</a>
            </object>
        </div>
    </div>
</div>