<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-step Register</title>

    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    /> -->

    <link rel="stylesheet" type="text/css" href="css/register.css" />

    <script
      src="https://kit.fontawesome.com/3351783b9f.js"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <div class="container">
      <div class="labels">
        <!-- <div class="one">Plans</div> -->
        <div class="two">Sign Up</div>
        <div class="three">Verify</div>
        <div class="four">Register</div>
        <div class="five">Payment</div>
      </div>

      <div class="progress-container">
        <div class="progress" id="progress"></div>
        <!-- <div class="circle active">
          <img src="images/subscription.png" alt="verify-img" class="icons" />
        </div> -->
        <div class="circle active">
          <img src="images/add-user.png" alt="verify-img" class="icons" />
        </div>
        <div class="circle">
          <img src="images/read.png" alt="verify-img" class="icons" />
        </div>
        <div class="circle">
          <img src="images/register.png" alt="verify-img" class="icons" />
        </div>
        <div class="circle">
          <img src="images/credit-card.png" alt="verify-img" class="icons" />
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="form-outer">
        <form action="#">
          <div class="page" id="page1">
            <div class="head">Sign Up</div>
            <div class="title">Basic Info:</div>
            <div class="field">
              <div class="label">Email</div>
              <input
                type="email"
                name="email"
                id="email"
                class="input"
                placeholder="Enter email"
                 oninput="this.className = ''"
                required
              >
            </div>
            <div class="field">
              <div class="label">Password</div>
              <input
                type="password"
                name="pass"
                id="pass"
                class="input"
                placeholder="Enter password"
                minlength="8"
                oninput="this.className = ''"
                required
              >
            </div>
            <div class="field">
              <div class="label">Confirm Password</div>
              <input
                type="password"
                name="pass"
                id="cpass"
                class="input"
                placeholder="Confirm password"
                minlength="8"
                oninput="this.className = ''"
                required
              >
            </div>
            <div class="d-flex justify-content-center text-center mt-4 pt-1">
              <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
              <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
              <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
            </div>
            <div>
              <p class="mb-0">
                Already have an account?
                <a href="login" class="text-white-50 fw-bold"
                  >Log in</a
                >
              </p>
            </div>
          </div>

          <div class="page" id="page2">
            <div class="head">Verify</div>
            <div class="title">Email Verification</div>
            <div class="field">
              <div class="label">OTP</div>
              <input
                type="tel"
                name="OTP"
                id="otp"
                class="input"
                maxlength="4"
                placeholder="Enter OTP"
                onkeypress="return onlyNumberKey(event)"
                oninput="this.className = ''"
                required
              >
            </div>
          </div>

          <div class="page" id="page3">
            <div class="head">Register</div>
            <div class="title">Personal Details</div>
            <div class="field">
              <div class="label">First Name</div>
              <input
                type="text"
                name="firstname"
                id="firstname"
                class="input"
                placeholder="Enter first name"
                oninput="this.className = ''"
                required
              >
            </div>
            <div class="field">
              <div class="label">Last Name</div>
              <input
                type="text"
                name="lastname"
                id="lastname"
                class="input"
                placeholder="Enter last name"
                oninput="this.className = ''"
                required
              >
            </div>
            <div class="field">
              <div class="label">Phone Number</div>
              <input
                type="text"
                name="phone"
                id="phone"
                class="input"
                placeholder="Enter phone number"
                oninput="this.className = ''"
                required
              >
            </div>
            <div class="field">
              <div class="label">Gender</div>
              <select>
                <option value="">Male</option>
                <option value="">Female</option>
                <option value="">Other</option>
              </select>
            </div>
          </div>

          <div class="page" id="page4">
            <div class="head">Payment</div>

            <div class="Price">
              Amount to be paid: <span id="plan">₹1</span>
            </div>
          </div>
        </form>
      </div>

      <div class="blank">
        <button class="btn" id="prev" disabled>Prev</button>
        <button class="btn" id="next">Next</button>
      </div>
    </div>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script> -->
  </body>
  <script src="js/register.js"></script>
</html>
