<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/task-style.css">
    <title>Task</title>
</head>
<body>
    <div class = "inner-nav-bar-div">
        <%- include("task-upper-header", {projectName}) %>
        <%- include("task-nav-bar", {projectID}) %>
    </div>
    <div class = "main-display">
        <div class = "list-section">
            <ul class = "section-list">                
                <% for(let i=0;i< sectionList.length;i++){ %>
                    <%- include('task-section-index', 
                    {
                        sectionNumber: sectionList[i]._id,
                        sectionDetails: sectionList[i],
                        taskList: sectionList[i].taskList
                    }) %>
                <% } %>
                <%- include('task-add-new-sections-btn', {projectID}) %>
            </ul>
        </div>
    </div>
    <script charset = "UTF-8" src = "/js/task-main.js"></script>
</body>
</html>