<div class = "inner-nav-bar">
    <div class = "inner-nav-bar-elements">
        <ul class = "inner-nav-bar-elements-list">
            <li><a href = "/overview/<%=projectID%>">Overview</a></li>
            <li><a href = "/task/<%=projectID%>">Task</a></li>
        </ul>
    </div>
</div>
<hr>