<li class = "add-section-btn-li">
    <div class = "section">
        <div class = "section-input-div">  
            <button id = "add-section-btn"  class = "add-section"><a href = "/add-section/<%=projectID%>">Add Section</a></button>
        </div>
    </div>
</li>