<!-- <div class = "inner-heading">
            <h1>ATMOS</h1>
        </div> -->
<div class = "project-nav-bar-div">
    <div class = "project-icon-div">
        <img class = "inner-project-icon" src="https://img.icons8.com/color-glass/48/000000/list.png"/>
    </div>
    <div class = "project-name-div">
        <!-- <input class="project-name-input" type = "text" value = "FSD Project"> -->
        <h3 class = "project-name-input"><%=projectName%></h3>
        <!-- <button class="project-options-btn"><img class="project-options-icon" src="https://img.icons8.com/external-those-icons-lineal-those-icons/24/000000/external-down-arrows-those-icons-lineal-those-icons-1.png"/></button>
        <button class="project-favorite-btn"><img class="project-favorite-icon" src="https://img.icons8.com/windows/32/000000/star--v1.png"/></button> -->
        <select class="project-status">
            <option>On-Track</option>
            <option>At-Risk</option>
            <option>Off-Track</option>
            <option>On-Hold</option>
            <option>Completed</option>
        </select>
    </div>
    <div class = "inner-profile">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/test-account.png"/>
    </div>
</div>