*{
   margin: 0;
   padding: 0;
}
body{
 background-color: #F7F7FA;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 /* overflow: hidden; */
}
#sales{
 width: 100%;
 border-collapse: collapse;
 border-spacing: 0;
 border: 1px solid #ddd;
 color: #fff;
}
.block{
  height: 125px;
  width: 200px;
  display: inline-block;
  background-color: #7C5CBF;
  padding: 50px;
  margin: 30px;
  border-radius: 30px;
  font-size: 20px;
    color: #fff;
}
h1, h2{
  margin: 10px;
  padding: 10px;
}
.block:hover{
  background-color:  #6b539f;
  border: 3px solid #ddd;
  padding: auto;
  margin: 27px;
}
.big-block{
  height: 200px;
  width: 400px;
  display: inline-block;
  background-color: #7C5CBF;
  padding: 50px;
  margin: 30px;
  border-radius: 30px;
  font-size: large;
}
.column1{
  float: left;
  width: 15%;
  min-height: 100vh;
  background-color: #333744;
}
.column8{
  float: left;
  width: 85%;
  height: 100%;
  background-color: #F7F7FA;
}

.column2, .column3, .column4, .column5, .column6, .column7 {
  float: left;
  width: 85%;
  height: 100vh;
  background-color: #F7F7FA;
  display: none;
} 
.column-text{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-align: center;
 padding: 10px;
 cursor: pointer;
 color: #f2f2f2;
 transition: all 0.5s ease;

}
.column-text:hover{
 background-color: #f2f2f2;
 color: #333333;
 border-radius: 20px;
}
/* Clear floats after the columns */
.row:after {
 padding: 20px;
content: "";
display: table;
clear: both;
}
input{
    margin-top: 30px;
    width: 75%;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7C5CBF;
  color: white;
}