@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Fredoka&family=Merriweather&family=Montserrat&family=Quintessential&display=swap');

:root {
  --line-border-fill: #160040;
  --line-border-empty: #bdbdbd;
}

* { 
  box-sizing: border-box;
}

body {
  /* background-color: #981dfd;
  background-image: url('images/back/back.jpg'); */
  background-color: #330033;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='460' height='460' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url('../images/Photon-10s-903px.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fredoka', sans-serif;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  justify-content: center;
  max-height: 100vh;
  color: #160040;
  /* overflow: hidden; */
  margin: 0;
}

.blank {
  height: auto;
  width: auto;
}
.icons {
  width: 42px;
}

/* @media(max-width: 700px){
  .cards{
    display: block;
  }
} */

.cards {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  /* max-height: 100vh;   */
  width: 40%;
  color: #160040;
  border-radius: 7px;
  padding: 10px 45px 10px 45px;
  height: fit-content;
  margin: 0 auto 0 auto;
  background-color: #fff;
  /* padding-bottom: -50px; */
  /* width: 70%; */
}


.blank {
  height: auto;
  width: auto;
  text-align: center;
}
.head {
  text-align: center;
  font-size: 35px;
  font-weight: 750;
  margin: 10px 0 25px 0;
}

.form-outer::-webkit-scrollbar {
  display: none;
}



.cards .form-outer {
  width: 100%;
  margin: 0 auto 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  /* max-height: 100vh;  */
  height: 60vh;
  
} 

.form-outer form {
  display: flex;
  /* margin: 0 auto 0 auto; */
  width: 400%;

  /* justify-content: space-between; */
  /* justify-content: center; */

}

.form-outer form .page {
  width: 25%;
  text-align: center;
  position: relative;
  left: -0%;
  transition: 0.3s;
  /* padding-left: 50px; */
}

.form-outer form .page .title {
  font-size: 22px;
  font-weight: 750;
  text-align: left;
}

.form-outer form .page .field {
  height: 45px;
  width: 100%;
  margin: 45px 0;
  display: flex;
  position: relative;
}

.form-outer form .page .field .label {
 position: absolute;
 top: -30px;
 font-weight: 500;
  font-size: 18px;
}

.form-outer form .page .field input {
  height: 35px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 15px;
}

form .page .field select {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}

.container {
  text-align: center;
  width: 75%;
  margin: 0 auto 0 auto;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;

}

.price {
  font-size: 20px;
}

/* .one {
  position: absolute;
  left: 23%;
} */

.two {
  position: absolute;
  left: 22.5%;
}

.three {
  position: absolute;
  left: 39.3%;
}

.four {
  position: absolute;
  left: 56%;
}

.five {
  position: relative;
  left: 80%;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: inherit;
  overflow: hidden;
  margin: 0 auto 30px auto;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
  
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  /* font-family: 'Fredoka', sans-serif;
  font-size: 100px;
  text-align: center; */
  background-color: #fff;
  color: #000;
  font-size: 2rem;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 3px solid #b2bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  text-align: center;
  /* margin: 5px; */
}    

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: #160040;
  color: #ffff;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 20px;
}

.btn:focus {
  outline: 0;
}

.btn:hover{
  background-color: var(--line-border-empty);
  color: #000;
}

.btn:active {
  transform: scale(0.97);
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

